[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.3.1"
mypy = "==v0.701"

[packages]
tabulate = "*"
termcolor = "*"
pandas = "*"
sklearn = "*"
toolz = "==0.9.0"
pydash = "*"
infusion = "*"
matplotlib = "*"
mypy = "*"
pylint = "*"
typing-extensions = "==3.7.2"
pyramda = "*"
colored = "*"
statsmodels = "*"

[requires]
python_version = "3.7"
